<div class="col-content" id="page-{{page.handle}}">

	<div class="page-header clearfix">
	  <h1 class="title">{{ page.title }}</h1>
	</div>
	
	<div class="content">
    {{ page.content }}
	</div>
	
</div><!-- /.col-content -->


<div class="col-browse">
	{% include 'left-col-nav' %}
	{% include 'left-col-ads' %}
</div><!-- /#col-browse -->